
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*padding: 10px;*/
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
    /*height: 30px;*/
}

.navbar div {
    display: inline;
}

.topnav a {
    float: left;
    color: var(--color);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}