:root {
    --color: black;
    --primary-color: #00a3ff;
    --secondary-color: #006ae6;
    --background-color: white;
    --background: linear-gradient(135deg, rgba(10, 78, 147, 0.8), rgba(0, 230, 203, 0.8));
    --light-bg: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.8));
    --card-color: #ffffff;
    --main-background: radial-gradient(circle at center bottom, #000000, #042dc7 40%, #40e0d0);
    --background-image: url("../assets/background.png");
}

hr {
    color: var(--color) !important;
}

.mySidenav {
    color: var(--color);
}

.dark {
    --background-color: #333;
    --color: #d9d9d9;
    --primary-color: #00a3ff;
    --secondary-color: #006ae6;
    --background: linear-gradient(135deg, rgba(0, 42, 84, 0.8), rgba(0, 107, 230, 0.8));
    --light-bg: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.8));
    --main-background: conic-gradient(#30d5c8, yellow, #00ced1, #000080, blue, magenta, #30D5C8);
    --card-color: #b2b2b2;
    --background-image: url("../assets/dark_background.png");
}

.card {
    background: var(--background);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--card-color) !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--color);
    transition: 0.4s;
    /*background: var(--background-color);*/
    background-image: var(--background-image);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn {
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(138, 35, 244, 0.5);
}

.btn:active {
    background: var(--secondary-color);
}
